/* ---------------------------------------------------------------
CSS Reset (minified)
--------------------------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html{box-sizing:border-box}*,*:after,*:before{box-sizing:inherit}

/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */
:root {
    --Primary-Color: #222946;
    --Secondary-Color: #E9ECFC;
    --Tertiary-Color: #37B667;
    /* Font Values Begin */
    --Primary-Font: 'Roboto';
    --Secondary-Font: 'Lato';
    /* Font Values End */

    /* Font Sizes Begin */
    --font-size-2down: 0.8em;
    --font-size-1down: 0.9em;
    --font-base-size: 16px;
    --font-size-1up: 1.2em;
    --font-size-2up: 1.4em;
    --font-size-3up: 1.6em;
    /* Font Sizes End */
}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

label, input {
  display: block;
}

/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex {
  display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.align-items {
    align-items: center;
}

.active {
    color: var(--Tertiary-Color);
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}


.btn {
    color: white;
    background-color: var(--Tertiary-Color);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.wrap {
    flex-wrap: wrap;
}

.section-padding {
    padding: 50px 0;
}

img {
    display: block;
}

/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

header {
    background-color: #222946;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo, header nav {
    flex-basis: 400px;
}

.logo img {
    width: 50px;
}

header nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

header nav li {
    margin-right: 10px;
}

header nav li:last-child {
    margin-right: 0;
}

/* ---------------------------------------------------------------
Hero
--------------------------------------------------------------- */

.hero {
    background-color: var(--Secondary-Color);
    flex-wrap: wrap;
}

.hero .container {

}

.hero-text > * {
    margin-top: 20px;
}

.col-40 {
    flex-basis: 35%;
}

.col-60 {
    flex-basis: 55%;
}

.hero img {
    width: 80%;
}

/* ---------------------------------------------------------------
Our Blog
--------------------------------------------------------------- */

.all-blogs {
    flex-wrap: wrap;
}

.blog-card {
    flex-basis: 30%;
}

.blog-card img {
    width: 100%
}

/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */

footer {
    background-color: #222946;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--Secondary-Color);
    font-size: var(--font-size-1up);
}

footer p, footer nav {
    flex-basis: 400px;
}

footer nav ul {
    justify-content: flex-end;
}

footer nav li {
    display: inline-block;
    margin-right: 20px;
}

footer nav li:last-child {
    margin-right: 0;
}

footer nav a {
    color: var(--Secondary-Color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* ---------------------------------------------------------------
Media Queries
--------------------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    header .container {
        justify-content: center;
        align-items: center;
        background-color: brown;
    }
    .blog-card {
        flex-basis: 100%;
    }
}
