/* Remember to design Mobile First */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
/* ---------------------------------------------------------------
CSS Reset (minified)
--------------------------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html{box-sizing:border-box}*,*:after,*:before{box-sizing:inherit}

/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

:root {
  /* Colors Begin */
  --Primary-Color: #dfecff;
  --Secondary-Color: #f9234d;
  --Tertiary-Color: #23347b;
  /* Colors End */

  /* Font Values Begin */
  --Primary-Font: 'Balsamiq Sans';
  /* Font Values End */
}


/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */

body {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2.5rem 0;
}

h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin: 1rem 0;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

label, input {
  display: block;
}

/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  max-width: 125ch;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0.4em 2em;
  background-color: var(--Secondary-Color);
  border-radius: 0.25em;
  box-shadow: 0 0 8px black;
}

.active {
  background-color: var(--Secondary-Color);
  color: white;
}

.highlight {
  color: var(--Secondary-Color);
}

.section-padding {
  padding: 2rem 0;
}

/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

.header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
}

.header__logo {
  text-decoration: none;
  color:white;
  font-size: 2rem;
  font-weight: 700;
}

.header__nav {
  flex: 2;
}

.header__nav__ul {
  justify-content: flex-end;
}

.header__nav-item {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-right: 1.2rem;
}

.header__nav__ul li:last-child {
  margin-right: 2.5rem;
}

.header__nav-item__link {
  color: white;
  text-decoration: none;
}

/* Hamburger styling Begin */
.header__dropdown {
  display: none;
}

label[for="dropdown"] {
  display: none;
}

/* Hamburger styling End */



/* ---------------------------------------------------------------
Hero
--------------------------------------------------------------- */

.hero {
  background-color: rgba(0, 0, 255, 0.6);
  background-image: linear-gradient(rgba(0, 0, 255, 0.6), rgba(0, 0, 255, 0.6)), url(../images/01.png);
  padding-top: 6rem;
  color: white;
}

.hero__text {
  padding-right: 10rem;
  flex-basis: 60%;
}

.hero__text__para {
  margin: 1rem 0;
}

.hero__img {
  text-align: right;
  width: 30%;
  min-width: 300px;
}

.hero__img img {
  width: 100%;
  display: block;
  min-width: 300px;
}

/* ---------------------------------------------------------------
About Event
--------------------------------------------------------------- */

.about-event {
  padding: 2rem 0;
}

.about-event__img {
  flex-basis: 400px;
  flex-grow: 1;
}

.about-event__img img {
  min-width: 300px;
}

.about-event__text {
  flex-basis: 400px;
  flex-grow: 1;
  /* margin-left: 5rem; */
}

.about-event__text__title {
  text-transform: uppercase;
}

.about-event__text__para {
  margin: 1rem 0;
}

/* ---------------------------------------------------------------
Why Join
--------------------------------------------------------------- */

.why-join {
  background-color: var(--Primary-Color);
  text-align: center;
  padding-bottom: 3rem;
}

.why-join__heading {
  margin-bottom: 3rem;
}

.why-join__cards {
  justify-content: space-between;
}

.why_join__card__number {
  font-size: 1.8rem;
  position: absolute;
  top: -2.2rem;
  left: 2rem;
  background-color: var(--Primary-Color);
  padding: 0.5rem;
  color: var(--Secondary-Color);
  font-weight: 700;
}

.why-join__card {
  position: relative;
  border: 3px dashed var(--Secondary-Color);
  flex-basis: 375px;
  text-align: left;
  padding: 1rem;
}

.why-join__card__heading {

}

.why-join__card__para {

}

.why-join__btn {
  display: none;
}

/* ---------------------------------------------------------------
Schedule
--------------------------------------------------------------- */

.schedule {
  padding-top: 1.5rem;
}

.schedule__heading {
  text-align: center;
  padding-bottom: 1.5rem;
}

.schedule__cards {
}

.schedule__card {
  justify-content: space-between;
  margin-bottom: 4rem;
}

.schedule__card > * {
  margin-right: 3rem;
}

.schedule__card > *:last-child {
  margin-right: 0;
}

.six-sept-card .schedule__card__heading {
  color: white;
}

.seven-sept-card {}

.eight-sept-card {}

.nine-sept-card {}

.schedule__card__heading {
  border: 3px dashed var(--Secondary-Color);
  font-size: 2rem;
  /* width: 8rem; */
  height: 8rem;
  border-radius: 50%;
  flex-basis: 8rem;
  text-align: center;
  /* line-height: 8rem; */
  /* vertical-align: middle; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Secondary-Color);
}

.schedule__card__img {
  width: 100%;
  flex-basis: 200px;
}

.schedule__card__img img {
  width: 100%;
  display: block;
  border-radius: 0.7rem;
}

.schedule__card__text {
flex-basis: 700px;
}

.schedule__card__text__title {
  font-size: 2rem;

}

.schedule__card__text__para {

}

.schedule__btn {
  text-align: center;
  padding-bottom: 4rem;
}

/* ---------------------------------------------------------------
Features
--------------------------------------------------------------- */

.features {
  background-color: var(--Primary-Color);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.feature-list {

}

.feature-list-item {
  /* flex-basis: 100px; */
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem 0;
  max-width: 250px;
}

.feature-list-item__img {
  /* max-width: 250px; */
  width: 50%;
}

.feature-list-item__heading {
  margin: 0.5rem 0;
}

.feature-list-item__para {

}


/* ---------------------------------------------------------------
Event Video
--------------------------------------------------------------- */

.event-video {
  padding: 4rem;
}

.event-video .container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  /* margin: 2rem; */
}

.event-video .iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  /* width: 100%;
  height: auto; */
  /* Apply height: 0 and then padding-bottom:  */
  /* Usually, we use 16/9 ratio to find height value so here height would be 56.25% */

/*
iframe {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
*/

}

/* ---------------------------------------------------------------
News
--------------------------------------------------------------- */

.news {
  background-color: var(--Primary-Color);
  padding: 4rem 0;
}

.news__heading {
  text-align: center;
  margin-bottom: 3rem;
}

.news-articles {
  flex-wrap: wrap;
  justify-content: space-between;
}

.news__article {
  flex-basis: 350px;

}

.news__article__img {
  width: 100%;
}

.news__article__title {
  font-weight: 700;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.news__article__para {

}

.news__article__link {
  display: inline-block;
  color: black;
  font-weight: 700;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.news__article__link.highlight {
  color: var(--Secondary-Color);
}

/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */

.footer {
  color: var(--Primary-Color);
}

.footer a {
  color: var(--Primary-Color);
  text-decoration: none;
  font-size: 1.1rem;
}

.footer__navbar {
  background-color: rgb(66, 66, 160);
  padding: 2rem 0;
}

.footer__navbar .container {
  /* justify-content: space-between; */
}

.footer__logo {
  flex-grow: 1;
}

.footer__navbar__qwk-lnks {
  flex-grow: 1;
}

.footer__navbar__qwk-lnks ul {
  justify-content: flex-start;
}

.footer__navbar__qwk-lnks li {
  margin-right: 1rem;
}

.footer__navbar__qwk-lnks li:last-child {
  margin-right: 0;
}

.footer__navbar__qwk-lnks h4 {
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer__navbar__social-media {
  text-align: left;
  flex-grow: 1;
}

.footer__navbar__social-media a {
  margin-right: 1rem;
}

.footer__navbar__social-media a:last-child {
  margin-right: 0;
}

.footer__navbar__social-media__heading {
  color: white;
  margin-bottom: 1rem;
  font-weight: 700;

}

.footer__credits {
  text-align: center;
  font-size: 0.9rem;
  background-color: rgb(36, 36, 160);
  color: var(--Primary-Color);
  padding: 1rem 0;
}

.footer__credits a {
  font-size: 0.9rem;
}

/* ---------------------------------------------------------------
Media Queries
--------------------------------------------------------------- */

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
  /* Header Section */
  .header .container {
    flex-direction: column;
  }

  .header__nav-item__link {
    font-size: 0.9rem;
  }

  .header__btn {
    display: none;
  }

  /* Hamburger */
  .header__nav {
    display: none;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 120px;
    z-index: 0;
  }

  label[for="dropdown"], .header__logo  {
    z-index: 2;
  }

  .header__nav__ul {
    flex-direction: column;
    justify-content: center;
  }

  .header__nav-item__link {
    margin: 0;
    color: var(--Secondary-Color);
    font-weight: 700;
  }

  .header__nav-item__link:hover {
    color: var(--Primary-Color);
  }

  .header__nav-item {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-right: 0;
    margin: 0.5rem 2rem;
  }

  .header__nav__ul li:last-child {
    margin-right: 2rem;
  }

  label[for="dropdown"] {
    display: inline-block;
  }

  /* Can we select a sibling that was declared before? */
  .header .logo {
    z-index: 3;
  }

  #dropdown:checked ~ .header__nav {
    display: inline-block;
  }

  #dropdown:checked ~ .fa-hamburger {
    /* Why isn't this propagating? */
    color: goldenrod;
  }

  #dropdown:checked ~ .header__btn {
    display: inline-block;
    z-index: 2;
    position: fixed;
    bottom: 20rem;
  }
  /* Hero Section */
  .hero {
    text-align: center;
  }

  .hero__img {
    order: -1;
    margin: 3rem auto 0 auto;
  }

  .hero__text {
    margin: 0 auto;
    padding: 0;
  }

  /* About Section */
  .about-event__img {
    text-align: center;
    margin: 0 auto;
  }

  .about-event__img img {
    display: block;
    width: 100px;
    margin: 0 auto;
  }

  .about-event__text {
    text-align: center;
  }

  /* Why Join Section */
  .why-join__card {
    margin-top: 1rem;
    margin: 1rem auto;
  }

  .why-join__btn {
    display: inline-block;
    margin-top: 2rem;
  }

  /* Schedule Section */
  .schedule__card {
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 4px var(--Secondary-Color);
  }

  .schedule__card > * {
    margin: 1rem auto;
  }

  /* Feaure Section */
  .feature-list-item {
    margin: 2rem auto;
    /* border: 3px solid var(--Secondary-Color); */
    box-shadow: 0px 0px 8px black;
  }

  /* Event Video Section */
  .event-video iframe {
    /* width: 80%;
    height: 315px; */
  }

  /* News Section */
  .news-articles {
  }

  .news__article {
    box-shadow: 0px 0px 8px black;
    margin: 2rem auto;
  }

  .news__article__link {
    margin-top: 0;
  }

  .news__article > *:not(img) {
    padding: 10px;
  }

  /* Footer Section */
  .footer {
    text-align: center;
  }

  .footer__navbar__qwk-lnks {
    margin-top: 1rem;
  }

  .footer__navbar__social-media {
    margin-top: 1rem;
    text-align: center;
  }
}
