/* Remember to design Mobile First */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
/* ---------------------------------------------------------------
CSS Reset (minified)
--------------------------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html{box-sizing:border-box}*,*:after,*:before{box-sizing:inherit}

/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

:root {
  /* Colors Begin */
  --Primary-Color: #dfecff;
  --Secondary-Color: #f9234d;
  --Tertiary-Color: #23347b;
  /* Colors End */

  /* Font Values Begin */
  --Primary-Font: 'Balsamiq Sans';
  /* Font Values End */

}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */

body {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}


h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2.5rem 0;
}

h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin: 1rem 0;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

label, input {
  display: block;
}

/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 125ch;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0.4em 2em;
  background-color: var(--Secondary-Color);
  border-radius: 0.25em;
}

.highlight {
  color: var(--Secondary-Color);
}

.section-padding {
  padding: 2rem 0;
}

/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

.header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
}

.header__nav {
  flex: 2;
}

.header__nav__ul {
  justify-content: flex-end;
}

.header__nav-item {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-right: 1.2rem;
}

.header__nav__ul li:last-child {
  margin-right: 2.5rem;
}

.header__nav-item__link {
  color: white;
  text-decoration: none;
}

/* ---------------------------------------------------------------
Hero
--------------------------------------------------------------- */

.hero {
  background-color: rgba(0, 0, 255, 0.6);
  background-image: linear-gradient(rgba(0, 0, 255, 0.6), rgba(0, 0, 255, 0.6)), url(../images/01.png);
  padding-top: 6rem;
  color: white;
}

.hero__text {
  padding-right: 10rem;
}

.hero__text__para {
  margin: 1rem 0;
}

.hero__img {
  width: 75%;
}

.hero__img img {
  width: 100%;
  display: block;
}

/* ---------------------------------------------------------------
About Event
--------------------------------------------------------------- */

.about-event {
  padding: 2rem 0;
}

.about-event__text {
  margin-left: 5rem;
}

.about-event__text__title {
  text-transform: uppercase;
}

.about-event__text__para {
  margin: 1rem 0;
}

/* ---------------------------------------------------------------
Why Join
--------------------------------------------------------------- */

.why-join {
  background-color: var(--Primary-Color);
  text-align: center;
  padding-bottom: 3rem;
}

.why-join__heading {
  margin-bottom: 3rem;
}

.why-join__cards {
  justify-content: space-between;
}

.why-join__card {
  border: 3px dashed var(--Secondary-Color);
  flex-basis: 375px;
  text-align: left;
  padding: 1rem;
}

.why-join__card__heading {

}

.why-join__card__para {

}

/* ---------------------------------------------------------------
Schedule
--------------------------------------------------------------- */

.schedule {

}

.schedule__heading {
  text-align: center;
}

.schedule__cards {
}

.schedule__card {
  justify-content: space-between;
}

.schedule__card > * {
  margin-right: 3rem;
}

.schedule__card > *:last-child {
  margin-right: 0;
}

.six-sept-card {

}

.seven-sept-card {

}

.eight-sept-card {

}

.nine-sept-card {

}

.schedule__card__heading {
  border: 3px dashed var(--Secondary-Color);
  font-size: 2rem;
  /* width: 8rem; */
  height: 8rem;
  border-radius: 50%;
  flex-basis: 8rem;
  text-align: center;
}

.schedule__card__img {
  width: 100%;
  flex-basis: 200px;
}

.schedule__card__img img {
  width: 100%;
  display: block;
  border-radius: 0.7rem;
}

.schedule__card__text {
flex-basis: 700px;
}

.schedule__card__text__title {
  font-size: 2rem;

}

.schedule__card__text__para {

}


/* ---------------------------------------------------------------
Media Queries
--------------------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}